<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xyc.mapper.SellerMapper">

    <select id="queryById" resultType="com.xyc.pojo.Seller">
        select * from seller where id=#{id}
    </select>

    <insert id="register" parameterType="com.xyc.pojo.Seller">
        insert into seller(name,password,tel,email,pic,balance,license,status)
        values(#{name},#{password},#{tel},#{email},#{pic},#{balance},#{license},#{status})
    </insert>

    <select id="login" parameterType="com.xyc.dto.SellerLoginDTO" resultType="com.xyc.pojo.Seller">
        select * from seller where name = #{name}
    </select>

    <update id="update" parameterType="com.xyc.pojo.Seller">
        update seller set name=#{name},password=#{password},tel=#{tel},
            email=#{email},pic=#{pic},status=#{status}
        where id = #{id}
    </update>

    <select id="getFrozenAccount" resultType="com.xyc.pojo.Seller">
        select * from seller where status = '商户冻结中'
    </select>

    <update id="sellerAuthenticate" parameterType="int">
        update seller set status = '正常营业'
        where id = #{id}
    </update>

    <update id="updateBalance" parameterType="int">
        update seller set balance = #{income}+balance
        where id = #{id}
    </update>


</mapper>