<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goods.mapper.CommentMapper">
    <insert id="pushComment" parameterType="entity.Comment">
        INSERT INTO comment(user_id,cgoods_id,remark,remark_pic,time)
        VALUES (#{userId},#{cgoodsId},#{remark},#{remarkPic},NOW());
    </insert>
    <select id="getComment" resultType="entity.Comment">
        select * from comment WHERE cgoods_id=#{cgoodsId};
    </select>
</mapper>
