<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goods.mapper.OrderMapper">
    <resultMap id="OrderMap" type="entity.OrderRecode" autoMapping="true"></resultMap>

    <insert id="addOrderRecode" parameterType="entity.OrderRecode">
        INSERT INTO orderrecord(goods_id,user_id,model_id,cost,paytime,info)
          VALUES (#{goodsId},#{userId},#{modelId},#{cost},NOW(),#{info});
    </insert>
    <select id="findRecode" resultType="entity.OrderRecode">
        select * FROM orderrecord WHERE  user_id=#{userId};
    </select>
    <select id="findModel" resultType="java.lang.String">
        SELECT info FROM sellmodle WHERE id=#{modelId};
    </select>
    <select id="findGoodsByUserId" resultType="com.goods.entity.Goods">
        SELECT * FROM goods WHERE user_id=#{userId};
    </select>

    <select id="findInstalmentById" resultType="com.goods.entity.Installment">
        select * from installment WHERE  id=#{id};
    </select>
    <select id="findRentToBuyById" resultType="com.goods.entity.RentToBuy">
        SELECT * from renttobuy WHERE id=#{id};
    </select>
    <select id="findShareRentById" resultType="com.goods.entity.ShareRent">
        select * from sharerent WHERE id=#{id};
    </select>
</mapper>