<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xtt.mapper.UserMapper">
    <resultMap id="BaseResultMapper" type="com.xtt.entity.User" autoMapping="true">

    </resultMap>

    <insert id="userRegister" parameterType="com.xtt.entity.User">
        INSERT INTO USER (name,password,tel,email,pic,credit,balance,role)
        VALUES (#{name},#{password},#{tel},#{email},#{pic},#{credit},#{balance},#{role});
    </insert>

    <select id="findIdByUsername" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT id FROM USER WHERE username=#{username};
    </select>

    <select id="userLogin" parameterType="java.lang.String" resultMap="BaseResultMapper">
        SELECT * FROM USER WHERE username=#{username} and password=#{passsword};
    </select>

    <select id="findUserById" parameterType="java.lang.Integer" resultMap="BaseResultMapper">
        SELECT * FROM USER WHERE id=#{id};
    </select>

    <update id="modifyUser" parameterType="com.xtt.entity.User">
        update USER set username=#{username},password=#{password},tel=#{tel},pic#{pic},email=#{email} where id=#{id};
    </update>

</mapper>
